{% extends 'forum/base.html' %}
{% block title %}Threads{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Threads</h1>
    <ul class="list-group">
        {% for thread in threads %}
            <li class="list-group-item">
                <h5>{{ thread.title }}</h5>
                {% if thread.image %}
                    <img src="{{ thread.image.url }}" alt="{{ thread.title }}" class="img-fluid" style="max-width: 150px;">
                {% endif %}
                <p>{{ thread.content|truncatewords:50 }}</p>
                <small>By {{ thread.user.username }} in {{ thread.category.name }} | {{ thread.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
